mixin dropdown()
    each val, key in domains
        .card
            #heading1.card-header
                .mb-0.d-flex.justify-content-between.align-items-center
                    button.btn.font-medium(data-toggle="collapse" data-target="#collapse" + key)= key
                    span.badge.badge-primary.badge-pill.font-medium= val.length
            .collapse.show(data-parent="#accordion" id="#collapse" + key)
                .card-body.p-0
                    each course in val
                        a.d-block.border-bottom.cursor-pointer.p-2.font-medium.text-primary(href="/courses?id=" + course._id)= course.course_name

#course-details.container.mt-5
    .row
        .col-md-3
            #accordion
                +dropdown()
        .col-md
            h1= selectedCourse.course_name
            .row.p-0
                img.ml-4.mh-200(src= selectedCourse.img)
                .col.font-medium
                    p= selectedCourse.description
            .d-flex.justify-content-end
                a.btn.btn-warning.btn-lg(href="/courses/apply?id=" + selectedCourse._id) Apply now!